alias quit="exit"
alias suspend="lock & ; systemctl suspend"
alias hibernate="lock & ; systemctl hibernate"
alias cim="vim"
alias youtubedl="youtube-dl"
alias ytdl="youtube-dl"
alias sc="scim"
alias connman="connmanctl"
alias vi="vim"
alias fuck="sudo \$(fc -ln -1)"
alias o="mimeopen"
alias brightback="xrandr --output LVDS-1 --brightness 1 --output HDMI-1 --brightness 1"
alias sfg++="g++ -lsfml-graphics -lsfml-window -lsfml-system"
